<% tag_list.each do |tag| %>
  <span class="badge bg-dark"><%= link_to tag, posts_path(tag_name: tag), class: "text-white"%></span>
<% end %>

<!--- tag_list.each do |tag|-->
<!--  span.badge.badge-primary.mr-1.p-2-->
<!--    = link_to tag, tasks_path(tag_name: tag), class: "text-white"-->