<div class=row>
  <div class="col-11 mx-auto text-center">
    <p class="h5">
        ようこそ、Game Snapへ！<br>
        このサイトは、ゲームで撮影した写真の投稿サイトです。<br>
        自分で撮った思い出の写真を投稿していいねやコメントをもらったり、<br>
        同じゲームをしている人の写真を見て楽しんだり、コメントして交流したり。<br>
        皆さんで重い思いに楽しんでください!<br>
        会員でない方も投稿の閲覧はできますが、<br>
        いいね👍やコメントをするには会員登録が必要です。<br>
    </p>
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>投稿できるゲームソフトと著作権について</p>
      </blockquote>
    <figcaption class="blockquote-footer">
      必ずお読み頂きルールを遵守して楽しく利用してください。
    </figcaption>
    </figure>
    <p class=h3>その他お問い合わせはこちらまで</p>
  </div>
</div>